MONGODB_URI=mongodb://aibox:datachat@atlas-sql-69b4fe9c1bdb3e7aad8ae594-3prnbp.a.query.mongodb.net/CO_PO?ssl=true&authSource=admin
GEMINI_API_KEY=AIzaSyCJ-z4ewsUvtHyv3OZpaWYLrp72cUJBahw
PORT=5000
CLIENT_URL=http://localhost:8080
AI_ENGINE_URL=http://localhost:8000
ANALYTICS_ENGINE_URL=http://localhost:8001
